@import url("https://fonts.googleapis.com/css?family=Public+Sans&display=swap");

:root {
  /* Primary */
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /* Neutral */
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  /* Font-family */
  --font-family: "Public Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  color: black;
  background-color: var(--Very-Light-Gray);
  font-family: var(--font-family);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Utility classes */
.container {
  max-width: 1390px;
  padding: 1rem;
  overflow: hidden;
  margin: auto;
  height: 100%;
  width: 100%;
}

.heading-primary {
  font-weight: 400;
  font-size: 48px;
  width: 480px;
  height: 120px;
  line-height: 1.4;
  margin-bottom: 40px;
}

.heading-secondary {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 30px;
}

.heading-tertiary {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.4;
}

.heading-article {
  font-size: 18px;
  color: var(--Dark-Blue);
  margin-bottom: 14px;
  font-weight: 400;
  width: 260px;
}

.heading-article:hover {
  color: var(--Lime-Green);
  cursor: pointer;
}

.para-primary,
.para-secondary,
.para-choose {
  font-size: 16px;
  color: var(--Grayish-Blue);
  margin-bottom: 40px;
  width: 580px;
  height: 73px;
}

.para-choose {
  width: 100%;
}

.para-secondary {
  width: 100%;
  font-size: 12px;
}

.author {
  display: block;
  font-size: 12px;
  color: var(--Grayish-Blue);
  margin-bottom: 20px;
}

.btn-primary {
  display: inline-block;
  padding: 14px 35px;
  background-image: linear-gradient(
    to right,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  border-radius: 25px;
  border: 2px solid var(--lime-green);
  font-size: 13px;
  color: var(--White);
  font-weight: 400;
}

.btn-primary:hover {
  opacity: 0.7;
  border: 2px solid var(--bright-cyan);
}

/* Navbar */
.main-nav {
  background-color: var(--White);
  position: relative;
  z-index: 9;
}

.parent-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parent-nav .second-content {
  height: 100%;
}

.parent-nav .second-content .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent-nav .second-content .nav-links li a {
  color: var(--Grayish-Blue);
  margin-right: 20px;
  font-size: 15px;
  padding-bottom: 27px;
}

.parent-nav .second-content .nav-links li a:hover {
  border-bottom: 3px solid var(--Lime-Green);
  opacity: 0.7;
}

/* Header section */
.main-header {
  height: 665px;
  background: url("../images/bg-intro-desktop.svg") no-repeat 950px -260px;
}

.main-header .parent-content {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.main-header .parent-content .first-content {
  width: 100%;
}

.main-header .parent-content .second-content .mockup {
  position: absolute;
  top: -50px;
  right: -80px;
  height: 100%;
}

/* Why choose section */
.why-choose {
  background-color: var(--Light-Grayish-Blue);
  width: 100%;
  height: 100%;
  padding: 120px 0;
}

.why-choose .parent-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

.why-choose .parent-card .card {
  padding-right: 2rem;
  text-align: start;
}

.why-choose .parent-card .card img {
  margin-bottom: 50px;
}

/* Latest Article section */
.latest-article {
  width: 100%;
  height: 100%;
  padding: 100px 0;
}

.latest-article .parent-article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

.latest-article .parent-article .card {
  width: 100%;
  height: 100%;
}

.latest-article .parent-article .card div {
  padding: 2rem;
}

.latest-article .parent-article .card img {
  width: 100%;
  height: 220px;
  transition: transform 0.2s ease;
}

.latest-article .parent-article .card img:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.04);
}

/* Footer section */
.main-footer {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  background: var(--Dark-Blue);
}

.main-footer .parent-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer .parent-footer .first-content {
  display: flex;
  justify-content: start;
  align-items: center;
}

.main-footer .parent-footer .first-content > div .logo {
  filter: brightness(0) invert(1);
  margin-bottom: 40px;
}

.main-footer .parent-footer .first-content > div .footer-icons img {
  margin-right: 4px;
  width: 20px;
  height: 20px;
}

.main-footer .parent-footer .first-content > div .footer-icons img:hover {
  cursor: pointer;
}

.main-footer .parent-footer .first-content > div {
  margin-right: 140px;
}

.main-footer .parent-footer .first-content .footer-links li a {
  color: var(--White);
  font-size: 13px;
  letter-spacing: 1.2px;
}

.main-footer .parent-footer .first-content .footer-links li a:hover {
  color: var(--Lime-Green);
}

.main-footer .parent-footer .second-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.main-footer .parent-footer .second-content div {
  width: 100%;
  height: 100%;
  text-align: end;
  margin-bottom: 30px;
}

.main-footer .parent-footer .second-content .footer-para {
  text-align: end;
  width: 100%;
  color: var(--Light-Grayish-Blue);
  font-size: 14px;
}

/* Media Queries */
@media (max-width: 500px) {
  .main-header {
    position: relative;
  }
  .main-header .parent-content {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 30px;
  }

  .main-header .parent-content .first-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main-header .parent-content .second-content {
    position: absolute;
    background: url("../images/bg-intro-mobile.svg") no-repeat center center;
    top: -130px;
    height: 100%;
    width: 100%;
  }

  .main-header .parent-content .second-content .mockup {
    position: absolute;
    width: 90%;
    height: 68%;
    top: -2px;
    left: 20px;
  }

  .heading-primary {
    font-weight: 400;
    font-size: 30px;
    width: 280px;
    height: 80px;
    line-height: 1.4;
    margin-bottom: 30px;
    color: var(--Dark-Blue);
  }

  .para-primary,
  .para-secondary,
  .para-choose {
    font-size: 14px;
    color: var(--Grayish-Blue);
    margin-bottom: 40px;
    width: 320px;
    height: 50px;
  }
}
